// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/dojo-eva.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-info {
    position: 'absolute';
    top: 50px;
    left: 2%;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 18px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      padding-left: 8px;
      padding-right: 8px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-info {
      position: 'absolute';
      top: 70px;
      left: 2%;
    }
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 34px;
        font-style: italic;
        line-height: 42px;
        margin-bottom: 25px;
        padding-left: 14px;
        padding-right: 14px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
